# OS
.DS_Store

# IDE
.vscode
.idea

# Build outputs
.next/
out/
build/
dist/
coverage/

# Dependencies
node_modules/

# Storybook build
storybook-static/

# Misc
package-lock.json
renovate.json
tools/prompts/*


# Logs
*.log

# Temporary ignore files
# lib/fetcher/__tests__/api-client-factory.test.ts
# lib/fetcher/__tests__/client/fetch-with-progress/fetch-with-progress.test.ts
# lib/repository/__tests__/protopedia-in-memory-repository/
# lib/repository/protopedia-in-memory-repository.ts
# __tests__/subpath-exports.test.ts
